body{
    background-color: #333333;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100px 100px;
}

@media print {
    body {
        background: white;
    }
}

@media (min-width: 600px ) and (max-width: 900px ) {
        body {
        background: white;
    }
}

#page{
    width: 960px;
    margin: 0 auto;
}

.strong-red{
    font-weight: bolder;
    color: red;
}   

.light-blue{
    font-weight: bold;
    color: blue;
    
}

.light-blue{
    font-size: 15px;
}
#article {
    width: 740px;
    padding-right: 20px;
    float: left;
}

#article p {
    background: yellow;
}

#article > p {
    background: light-gray;
}

#sidebar {
    width: 200px;
    float: left;
}

#article  p{
    color: #fff;
    padding-top: 20px;
}

.pseudo-class {
    color: red;
    
}
.pseudo-class:hover   {
    color: gold;
}

.pseudo-class:visited{
    color: aqua;
}

.pseudo-class:focus{
    color: brown;
}

#article p:first-child{
    color: burlywood;
}
#article p:last-child{
    color: lightpink;
}



.pseudo-element::before {
    content: " ";
    display: block;
    width: 100%;
    height: 10px;
    background: yellow;
    margin-top: 10px;
}

span a[target] {
    color: green;
}
